.App {
  text-align: center;
  color: #333;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.App-header {
  background-color: var(--primary--dim);
  color: #fff;
  padding: 20px;
}

.App-body {
  min-height: 100vh;
  color: #333;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
}

.App-footer {
  background-color: var(--primary--dim);
  color: #fff;
  padding: 20px;
}

.App-link {
  color: #007bff;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}